<head>
  <title>World Wide Weather test</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <div class="jumbotron">
      <div class="container">
        <h1>World Wide Weather </h1>
        <cite class="text-right"><h2>- By Baze -</h2></cite>
      </div>
    </div>

  <div class="container-fluid">


    <div class="col-sm-6" >
      <h1 class="title">Where on Earth is the Weather?</h1>
      <form class="LocationInput">
        <input type = "text" name="location" placeholder="City, Country">
        <input type = "submit" name="get_weather" value = "Get Weather">
                 </form>

      <div class="weatherbox">
        <h3> {{> weather}}</h3>
      </div>
        {{> plan}}
    </div>


    <div class="col-sm-6">
       <div class="shoutbox">
        <h1 class="title">Shoutbox!</h1>
        <div id="shoutContent" class="content">
          {{> shoutbox}}
         </div>
        <form class="new-shout">
          <input type="text" name="name" placeholder="Your name" style="width: 8em"/>
          <input type="text" name="text" placeholder="Your message ..." />
          <input type="submit" value="Shout!">
        </form>
      </div>
    </div>
   </div>
</body>

<template name="weather">
  <p>
  {{#if locatie}}
    The weather in {{locatie}} is: 
  {{/if}}
  {{forecast}}
  {{#if locatie}}
 <button name="get_forecast" class="getForecast"
                  data-toggle="modal" data-target="#weatherModal" value="3-day forecast">
Get forecast</button>
  {{/if}}
</p>
<div class="modal fade" id="weatherModal">
  <div class="modal-dialog">
    <div class="modal-content">
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      <h2>Forecast for {{locatie}}</h2>
       </div>
{{>detailedForecastModal}}
    </div>
  </div>
</div>
</template>

<template name="plan">
  <div id="map"></div>
</template>

<template name="shoutbox">
{{#each shout}}
  <li><span class="name">{{name}}</span> says: {{text}}<div class="submitted">{{createdAt}}</div></li>
  <hr class="divider"/>
  {{scrollDown}}
{{/each}}
</template>

<template name="detailedForecastModal">

{{#each detforecast}}
  <li>{{content}}</li>
{{/each}}
</template>
