<template name="home">
<head>
  <title>WorldWeatherShout</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <div class="jumbotron">
      <div class="container">
        <h1>World Wide Weather </h1>
        <cite class="text-right"><h2>- By Joris -</h2></cite>
      </div>
    </div>

  <div class="container-fluid">
    <div class="col-sm-6" >
      {{> weather}}
      {{> plan}}
    </div>
    <div class="col-sm-6">
      {{> shoutbox}}
    </div>
  </div>

</body>

</template>
